* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.warppar {
  height: 100vh;
}

.header {
  background-color: blueviolet;
  height: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3rem;
  color: white;
}

.todo {
  padding: 10px 10px 10px 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.todo_list {
  margin-top: 15px;
}

.todo_list h3 {
  margin-top: 14px;
  color: white;
  text-align: left;
}

.todo_list button {
  float: right;
}

.todo__item {
  border: solid 1.2px #7a7a7a;
  background-color: rgb(236, 184, 87);
  margin-top: 10px;
  padding: 0 15px 0 15px;
  height: 50px;
  width: 100%;
}

.destroy {
  height: 30px;
  width: 30px;
  background-color: transparent;
  color: red;
  border: solid 1px red;
  border-radius: 50%;
  margin-top: -25.5px;
  cursor: pointer;
}